<div class= "row">

	<% @listings.each do |listing| %>
      <div class="col-md-3">
      <!-- <li class="list-group-item"> -->
		<div class="well">

			<h4><%= link_to listing.name, user_listing_path(listing.user, listing) %></h4>

		</div>
     </div>
	<% end %>


</div>
