<div class="col-md-12">
  <li class="list-group-item">
    <h1>Edit your listing</h1>

  		<%= bootstrap_form_for @listing do |form| %>
    		<%= render partial: '/listings/form', object: form %>

   			 <div class="submit-field">
     			 <%= form.submit %>
    		</div>


  		<% end %>
  </li>
    <div class="other-links">
       <%= link_to 'Back', root_path %>
    </div>
</div>