@import "rails_bootstrap_forms";
@import "page";
@import "users";
@import "sessions";
@import "braintree";
@import "listings";


.special-img {
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
    height: 40px;
    width: 40px;
}

.img-circle {
    border-radius: 50%;
}

.prof-circle {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}


.navbar-nav > li > a {padding-top:10px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important}

body {
	background-color: #f2f2f2;
}


.navbar-custom {
    background-color: #FFFFFF;
}

.thumnbnail {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.caption {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.caption p {
  font-size: 15px;
  margin: 0px;
}

.caption h3 {
  font-size: 17px;
  margin: 2px;
}